
/*
body {
    background-color: #e9e4de ;
} */

.textST{
   background: #fff;
   background: linear-gradient(#fff, #e9e4de);
   border: 2px solid #a38b77;
   border-radius: .4em;
   padding: .4em;
   margin: 0;
   font-family: 'Baloo', sans-serif;
	color: #512b05;
   font-size: 2.5em;
}

.websiteST {
   margin: 20em auto 21em;
   background: #fff;
   background: linear-gradient(to bottom, rgba(233,228,222,0),rgba(255,255,255,1) 5%);
   max-width: 1000px;
   padding: 40px;
   box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.4);
   box-sizing: border-box;
}

hr {
	margin: 0;
}

.projHeadline {
	text-align: left;
	line-height: 2.5rem;
	/* padding-bottom: 12px; */
   letter-spacing: 1px;
   font-size: 3em;
   text-transform: uppercase;
   font-weight: 900;
   font-family: "Baloo", sans-serif;
}

.projText {
	text-align: left;
	line-height: 1.25rem;
	color: #512b05;
   max-width: 500px;
/*	font-family: "Century Gothic", "Helvetica", sans-serif;	*/
}

/* #ab2f52
#e55c49
#ffaf52  */
/*	PROJECT 1	*/
.color-border:nth-child(4n+1) {
   margin-left: 30px;
   border-left: 8px solid #3c7db3;
}
.borderLeft:nth-child(4n+1) .projHeadline,
.borderLeft:nth-child(4n+1) .techUsed,
.borderLeft:nth-child(4n+1) .btn-github {
   color: #3c7db3;
   font-weight: 600;
}

/*	PROJECT 2	*/
.color-border:nth-child(4n+2) {
   margin-left: 30px;
   border-left: 8px solid #37c3a2;
}
.borderLeft:nth-child(4n+2) .projHeadline,
.borderLeft:nth-child(4n+2) .techUsed,
.borderLeft:nth-child(4n+2) .btn-github {
   color: #37c3a2;
   font-weight: 600;
}

/*	PROJECT 3	*/
.color-border:nth-child(4n+3) {
   margin-left: 30px;
   border-left: 8px solid #424871;
}
.borderLeft:nth-child(4n+3) .projHeadline,
.borderLeft:nth-child(4n+3) .techUsed,
.borderLeft:nth-child(4n+3) .btn-github {
   color: #424871;
   font-weight: 600;
}

/*	ORANGE	*/
/* .color-border:nth-child(4n+4) {
   margin-left: 30px;
   border-left: 8px solid #e88932;
}
.borderLeft:nth-child(4n+4) .projHeadline,
.borderLeft:nth-child(4n+4) .techUsed,
.borderLeft:nth-child(4n+4) .btn-github {
   color: #e88932;
   font-weight: 600;
} */



.colorLtBrown {
	color: #a38b77;
}


.underline {
	list-style-type: none;
}
