/* BASE STYLES ========================================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #512b05;
    background-color: #e9e4de;
    /* background-color: #f1f9fb; */
    /* background-color: #f4fbf1;    */
}

section {
    padding: 0 2em;
}

li {
    list-style: none;
    line-height: 1.4em;
}

p {
    /* text-transform: none; */
    line-height: 1.5em;
}

/* h2 {
    letter-spacing: .8em;
    margin-bottom: 0;
} */

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

/* a:hover, .active {
    color: #e0b3a3;
} */

/* button {
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: #3f3732;
    font-weight: bold;
    border-radius: 1em;
} */

.oxle-row {
   display: flex;
   flex-direction: row;
}

.flex-wrap {
   display: flex;
   justify-content: space-between;
}

/* HEADER ========================================= */

.oxle-logo {
   font-family: 'Baloo', sans-serif;
   font-size: 28px;
   /* letter-spacing: 1px; */
   padding: 0.1em 1em 0 1em;
}

.outer {
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 0;
}

/* .bg-box {
    position: relative;
    height: 100vh;
    top: 40px;
    background: url('/images/abstract-art-astronomy-220071.jpg');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
} */

nav.brown {
	background-color: #512b05;
}

a.nav-link {
   margin-top: .2em;
   padding-right: 1rem;
}

/* ANIMATIONS ========================================= */

.ani-top {
   opacity: 0;
   margin-top: 4em;
   position: fixed;
   z-index: -2;
   top: 0;
   left: calc(50vw - 144px);
   animation: reveal 1s linear forwards .4s;
}
@keyframes reveal {
  100% {
    opacity: 1;
  }
}

.icon svg {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: line 8s linear forwards .4s;
}
@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}

svg path {
   stroke: #4F2D11;
   fill: rgba(255,255,255,0);
   animation: aniOutline 1s linear forwards 6s;
}
/* @keyframes aniOutline {
  100% {
   stroke: #e9e4de;
   stroke-width: 0;
   fill: #00808c;
   fill: rgba(255,255,255,.3);
  }
} */

svg .mon-face {
   fill: rgba(79, 45, 17, 1);
}
svg .mon-face {
   fill: rgba(79, 45, 17, 1);
   animation: aniFace 1s linear forwards 6s;
}
/* @keyframes aniFace {
  to {
   fill: rgba(255,255,255,1);
  }
} */
/* ABOUT ========================================= */


/* PROJECTS ========================================= */

.col-container-left {
   display: flex;
   flex-direction: column;
   width: 65%;
   justify-content: space-around;
}

.col-container-right {
   display: flex;
   flex-direction: column;
   width: 35%;
   justify-content: space-around;
}

main img {
   width: 100%;
   /* padding-bottom: 2em; */
   padding-right: 2em;
}

.btn-github {
   background-color: #e9e4de;
   background-image: linear-gradient(#f3f3f3, #e9e4de);
   border: 2px solid #fff;
   border-radius: .6em;
   padding: .7em 1.4em;
   /* margin-top: .2em; */
	color: #512b05;
   text-transform: uppercase;
   font-size: 1.3em;
   font-family: 'Baloo', sans-serif;
   transition: border-color .3s ease;

}

.btn-github:hover {
   /* background: #fff;
   background-image: linear-gradient(#fff, #e9e4de); */
   border-color: #a38b77;
}


.projDetails {
   padding: 3em 0;
}

/* FOOTER ========================================= */

footer a {
    font-size: 1.8em;
    padding: 1.2em 1em 0;
}

/* bg-footer {
   margin-top: 2em;
   padding: 1.2em 1em 0;
} */

footer {
   margin-top: 2em;
   padding: 1.2em 1em 0;
}

/* THANKS ========================================= */

.thanks {
   width: 400px;
   /* background-color: #e9e4de; */
   z-index: -2;
   margin-bottom: 5em;
   position: fixed;
   top: 60vh;
   left: calc(50vw - 200px);
}

.thanks img {
   margin-top: 1em;
   height: 10em;
   border-radius: 1.8em;
}

/* MEDIA QUERIES ========================================= */

@media screen and (max-width: 800px){
    /* html {
        font-size: 12pt;
    } */

    /* header nav {
        height: auto;
    }

    .nav-collapse {
        background: #645951;
        border-bottom: 1px solid #4b433d;
    }

    .nav-collapse {
        background-image: linear-gradient(#645951, #786862);
    }

    header nav div {
        background-image: linear-gradient(#645951, #786862);
        border-bottom: 1px solid #4b433d;
    } */

    /* .nav-logo {
        z-index: 6;
        border-bottom: 1px solid  #4b433d;
    }

    .hamburger {
        display: inherit;
    }

    .nav-collapse {
        display: none;
    }

    .flex-mobile {
        display: flex;
        flex-direction: column;
    }

    .slick-carousel {
        width: 90%;
    }

    #about {
        height: auto;
    } */
/*
    .tile {
        width: 100%;
        padding: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .project-container {
        flex-direction: column;
    }

    .project-visual {
        height: 20em;
        width: 80%;
        margin: 0 auto;
    } */

    /* .project-details {
        width: 100%;
    } */

    /* form {
        width: 100%;
    } */
}


/* _____ */
/* body {

	font-family: "Helvetica", sans-serif;
	text-align: center;
	color: #512b05;
	margin: auto;
	} */


/* .spaceMore  {
	font-family: 'Baloo', sans-serif;
	padding-top: 90px;
	padding-bottom: 10px;
	}

.spaceSmall  {
	font-family: 'Baloo', sans-serif;
	padding-top: 25px;
	padding-bottom: 10px;
	} */


.space {
	padding-bottom: 12px;
}

.captions{
	color: #a38b77;
	font-size: 13px;
}


.purple {
	background-color: #7a5e7c;
/*	background-color: #5e3a66;*/
}

/* .white{
	color: white;
} */

.ltBrown{
	color: #a38b77;
}


/* CAROUSEL */
.outerCarousel{
	height: 400px;
	width: 100%;
}
.innerCarousel{
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: auto;
}

.homeSlideshow{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: auto;
}

.text {
	font-family: 'Baloo', sans-serif;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

/*li{
	float: left;
  	list-style: none;
	padding: 0px 36px 0px 0px;
	font-family: "Century Gothic", "Helvetica", sans-serif;
}*/

li.oxleNav{
	float: left;
  	list-style: none;
	padding: 0px 26px 0px 0px;
	font-family: "Century Gothic", "Helvetica", sans-serif;
}

/* FOR CARD COLUMNS */
@media only screen and (min-width: 576px) {
	.card-columns {
	    column-count: 2;
  	}
}

@media only screen and (min-width: 768px) {
	.card-columns {
	    column-count: 3;
  	}
}

@media only screen and (min-width: 992px) {
	.card-columns {
	    column-count: 4;
  	}
}


/* #footer{
	color: #a38b77;
	font-size: 11px;
	padding-bottom: 14px;
} */

a:link {
    color: #a38b77;
}

a:visited {
    color: #a38b77;
}

a:hover {
	color: #dd6700;
	text-decoration: none;
}
