/* BASE STYLES ========================================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
    background-color: #382530;
}

section {
    padding: 0 2em;
}

li {
    list-style: none;
    line-height: 1.4em;
}

p {
    text-transform: none;
    line-height: 1.5em;
}

h2 {
    letter-spacing: .8em;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

a:hover, .active {
    color: #e0b3a3;
}

/* button {
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: #3f3732;
    font-weight: bold;
    border-radius: 1em;
} */

.oxle-row {
   display: flex;
   flex-direction: row;
}

.flex-wrap {
   display: flex;
   justify-content: space-between;
}

/* HEADER ========================================= */

.oxle-logo {
   font-family: 'Baloo', sans-serif;
   font-size: 28px;
   /* letter-spacing: 1px; */
   padding: 0.1em 1em 0 1em;
}

.outer {
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 0;
}

/* .bg-box {
    position: relative;
    height: 100vh;
    top: 40px;
    background: url('/images/abstract-art-astronomy-220071.jpg');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
} */

nav.brown {
	background-color: #512b05;
}

a.nav-link {
   margin-top: .2em;
   padding-right: 1rem;
}

/* ABOUT ========================================= */


/* PROJECTS ========================================= */

.col-container-left {
   display: flex;
   flex-direction: column;
   width: 65%;
   justify-content: space-around;
}

.col-container-right {
   display: flex;
   flex-direction: column;
   width: 35%;
   justify-content: space-around;
}

main img {
   width: 100%;
   /* padding-bottom: 2em; */
   padding-right: 2em;
}

.btn-github {
   background: #fff;
   background-image: linear-gradient(#fff, #e9e4de);
   border: 2px solid #a38b77;
   border-radius: .6em;
   padding: .7em 1.4em;
   /* margin-top: .2em; */
	color: #512b05;
   text-transform: uppercase;
   font-size: 1.3em;
   font-family: 'Baloo', sans-serif;
}

.projDetails {
   padding: 3em 0;
}

/* FOOTER ========================================= */

footer a {
    font-size: 2em;
    padding: 1.2em 1em 0;
}

/* bg-footer {
   margin-top: 2em;
   padding: 1.2em 1em 0;
} */

footer {
   margin-top: 2em;
   padding: 1.2em 1em 0;
}

/* ANIMATIONS ========================================= */


/* MEDIA QUERIES ========================================= */

@media screen and (max-width: 800px){
    /* html {
        font-size: 12pt;
    } */

    header nav {
        height: auto;
    }

    .nav-collapse {
        background: #645951;
        border-bottom: 1px solid #4b433d;
    }

    .nav-collapse {
        background-image: linear-gradient(#645951, #786862);
    }

    header nav div {
        background-image: linear-gradient(#645951, #786862);
        border-bottom: 1px solid #4b433d;
    }

    .nav-logo {
        z-index: 6;
        border-bottom: 1px solid  #4b433d;
    }

    .hamburger {
        display: inherit;
    }

    .nav-collapse {
        display: none;
    }

    .flex-mobile {
        display: flex;
        flex-direction: column;
    }

    .slick-carousel {
        width: 90%;
    }

    #about {
        height: auto;
    }

    .tile {
        width: 100%;
        padding: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .project-container {
        flex-direction: column;
    }

    .project-visual {
        height: 20em;
        width: 80%;
        margin: 0 auto;
    }

    /* .project-details {
        width: 100%;
    } */

    form {
        width: 100%;
    }
}


/* _____ */
/* body {

	font-family: "Helvetica", sans-serif;
	text-align: center;
	color: #512b05;
	margin: auto;
	} */


.spaceMore  {
	font-family: 'Baloo', sans-serif;
	padding-top: 90px;
	padding-bottom: 10px;
	}

.spaceSmall  {
	font-family: 'Baloo', sans-serif;
	padding-top: 25px;
	padding-bottom: 10px;
	}


.space {
	padding-bottom: 12px;
}

.captions{
	color: #a38b77;
	font-size: 13px;
}


.purple {
	background-color: #7a5e7c;
/*	background-color: #5e3a66;*/
}

/* .white{
	color: white;
} */

.ltBrown{
	color: #a38b77;
}


/* CAROUSEL */
.outerCarousel{
	height: 400px;
	width: 100%;
}
.innerCarousel{
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: auto;
}

.homeSlideshow{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: auto;
}

.text {
	font-family: 'Baloo', sans-serif;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

/*li{
	float: left;
  	list-style: none;
	padding: 0px 36px 0px 0px;
	font-family: "Century Gothic", "Helvetica", sans-serif;
}*/

li.oxleNav{
	float: left;
  	list-style: none;
	padding: 0px 26px 0px 0px;
	font-family: "Century Gothic", "Helvetica", sans-serif;
}

/* FOR CARD COLUMNS */
@media only screen and (min-width: 576px) {
	.card-columns {
	    column-count: 2;
  	}
}

@media only screen and (min-width: 768px) {
	.card-columns {
	    column-count: 3;
  	}
}

@media only screen and (min-width: 992px) {
	.card-columns {
	    column-count: 4;
  	}
}


/* #footer{
	color: #a38b77;
	font-size: 11px;
	padding-bottom: 14px;
} */

a:link {
    color: #a38b77;
}

a:visited {
    color: #a38b77;
}

a:hover {
	color: #dd6700;
	text-decoration: none;
}
